<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html;charset=UTF-8"/>
    <title th:text="${title}"></title>
    <div th:replace="fragments/header :: css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sider :: sider"></div>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <h1 th:text="${title}"></h1>
            <p th:text="${hint}"></p>
        </main>
    </div>
</div>

<div th:replace="fragments/header :: js"></div>
</body>
</html>